* {
  margin: 0;
  padding: 0;
}

#frame {
  height:10%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; 
  background: black;
  /*align-items: center;*/
}

.options {
  display: flex;
  flex-direction: row-reverse;
}

.option {
  display: flex;
  align-items: center;
  color: white;
  padding: 12.5px 25px;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

/*.option 3rd-child {
  font-size: 5rem;
}*/

.option:hover {
  background: #DA4B27;
}

#user_box {
  flex-direction: row;
  padding: 5px 10px;
}

#user_box:hover {
  cursor: pointer;
}

.logged_user_image img {
  height:50px;
  width: 50px;
}