html{
    /*set html to span the entire Browser Window*/
    height: 100%;
}

body{
    /*body should span entire html container*/
    height:inherit;
    /*background-color: #F4F1F0;*/
    background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
}

.user_image {
    background-color:white;
}

.user_image img {
    vertical-align: middle;
    height:50px;
    width: 50px;
}

#user_panels {
    /*frame_actions occupies 10% of the body; container for the panels gets the rest of the space*/ 
    height:90%;
    /*put the child panels in flex mode*/
    display:flex;
    /*align the panels vertically*/
    flex-direction:column;
    /*center vertically and evenly space the margins between panels*/
    justify-content: space-around;
    /*center panels horizontally*/
    align-items: center;
}

.panel {
    width: 60%;
    border-radius: 50px;
    /*when applying border radius, inner divs spill outside the border*/
    overflow: hidden;
    box-shadow: 10px 10px 5px #28211F
}

.username{
    font-family: Impact;
    background-color: #4D4948;
    color: white;
}

.username:hover{
    cursor: pointer;
    color: #DA4B27;
    font-style:italic;
}
