body{
    background-color: #202020;
}

#container{
    background-color: #202020; 
    display: flex; 
    flex-direction: column;
}

#main-menu{
    display: inline-block; 
    margin-top: 30px;
}

.code-viewer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between
}

.btn-container {
    display: flex; 
    flex-direction: row
}

.btn-container p{
    font-size: 15px;
}

.viewer-container{
    width: 100%; 
    display: flex; 
    align-items: center; 
    margin-bottom: 4%
}

.code-area {
    overflow: auto;
    background-color: #F8F8F8;
    max-height: 500px;
    border: 1px solid lightgrey;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .pre-code {
    height: 100%;
    width: 100%;
    max-height: 500px;
    border: 1px solid lightgrey;
    background-color: white;
  }
  .code-viewer {
    background-color: white;
    overflow: auto;
    flex: 1;
    max-height: 800px;
    overflow: auto;
  }
  
  .text-styling {
    color: #00001a;
    font-size: 17px;
  }
  
  .line-row {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    white-space:pre;
  }
  
  .line-row-same {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    white-space:pre;
  }
  
  .line-row-diff {
    background-color: #ff6666;
    display: flex;
    flex-direction: row;
    white-space:pre;
  }
  
  .side-number {
    background-color: #e6f2ff;
    margin-right: 10px;
    width: 30px;
  }
  
  .side-number p {
    color: #585858;
    font-size: 12px;
  }