
.DS_Store
.idea/
tempfile.txt
.vscode
node_modules
pyLangparser/.idea/
package-lock.json
Would skip repository electron-quick-start/
node_modules/@types/
node_modules/ansi-regex/
node_modules/array-find-index/
node_modules/assert-plus/
node_modules/asynckit/
node_modules/aws-sign2/
node_modules/balanced-match/
node_modules/bcrypt-pbkdf/
node_modules/brace-expansion/
node_modules/builtin-modules/
node_modules/camelcase-keys/
node_modules/camelcase/
node_modules/caseless/
node_modules/code-point-at/
node_modules/combined-stream/
node_modules/concat-map/
node_modules/concat-stream/
node_modules/core-util-is/
node_modules/cryptiles/
node_modules/currently-unhandled/
node_modules/dashdash/
node_modules/debug/
node_modules/decamelize/
node_modules/deep-extend/
node_modules/delayed-stream/
node_modules/ecc-jsbn/
node_modules/electron-download/
node_modules/electron/
node_modules/error-ex/
node_modules/es6-promise/
node_modules/extend/
node_modules/extract-zip/
node_modules/extsprintf/
node_modules/fast-deep-equal/
node_modules/fd-slicer/
node_modules/find-up/
node_modules/forever-agent/
node_modules/form-data/
node_modules/fs-extra/
node_modules/fs.realpath/
node_modules/get-stdin/
node_modules/getpass/
node_modules/graceful-fs/
node_modules/har-schema/
node_modules/har-validator/
node_modules/home-path/
node_modules/hosted-git-info/
node_modules/http-signature/
node_modules/indent-string/
node_modules/inflight/
node_modules/inherits/
node_modules/is-arrayish/
node_modules/is-builtin-module/
node_modules/is-finite/
node_modules/is-fullwidth-code-point/
node_modules/is-typedarray/
node_modules/is-utf8/
node_modules/isarray/
node_modules/isstream/
node_modules/json-schema-traverse/
node_modules/json-schema/
node_modules/json-stable-stringify/
node_modules/json-stringify-safe/
node_modules/jsonfile/
node_modules/jsonify/
node_modules/jsprim/
node_modules/load-json-file/
node_modules/loud-rejection/
node_modules/map-obj/
node_modules/mime-db/
node_modules/mime-types/
node_modules/minimatch/
node_modules/minimist/
node_modules/mkdirp/
node_modules/normalize-package-data/
node_modules/nugget/
node_modules/number-is-nan/
node_modules/oauth-sign/
node_modules/object-assign/
node_modules/object-keys/
node_modules/parse-json/
node_modules/path-exists/
node_modules/path-is-absolute/
node_modules/path-type/
node_modules/performance-now/
node_modules/pinkie-promise/
node_modules/pinkie/
node_modules/pretty-bytes/
node_modules/process-nextick-args/
node_modules/progress-stream/
node_modules/punycode/
node_modules/read-pkg-up/
node_modules/read-pkg/
node_modules/readable-stream/
node_modules/redent/
node_modules/repeating/
node_modules/request/
node_modules/rimraf/
node_modules/safe-buffer/
node_modules/semver/
node_modules/signal-exit/
node_modules/single-line-log/
node_modules/spdx-correct/
node_modules/spdx-expression-parse/
node_modules/spdx-license-ids/
node_modules/speedometer/
node_modules/sshpk/
node_modules/string-width/
node_modules/string_decoder/
node_modules/stringstream/
node_modules/strip-ansi/
node_modules/strip-bom/
node_modules/strip-indent/
node_modules/strip-json-comments/
node_modules/sumchecker/
node_modules/throttleit/
node_modules/through2/
node_modules/tough-cookie/
node_modules/trim-newlines/
node_modules/tunnel-agent/
node_modules/tweetnacl/
node_modules/typedarray/
node_modules/util-deprecate/
node_modules/uuid/.eslintrc.json
node_modules/uuid/HISTORY.md
node_modules/uuid/LICENSE.md
node_modules/uuid/package.json
node_modules/validate-npm-package-license/
node_modules/verror/
node_modules/wrappy/
node_modules/xtend/
node_modules/yauzl/
node_modules/electron/dist/Electron.app/Contents/Resources/am.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ar.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/bg.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/bn.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ca.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/cs.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/da.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/de.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/el.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/en.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/en_GB.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/es.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/es_419.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/et.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fa.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fi.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fil.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/fr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/gu.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/he.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/hi.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/hr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/hu.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/id.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/it.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ja.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/kn.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ko.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/lt.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/lv.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ml.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/mr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ms.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/nb.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/nl.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/pl.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/pt_BR.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/pt_PT.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ro.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ru.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sk.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sl.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sv.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/sw.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/ta.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/te.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/th.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/tr.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/uk.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/vi.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/zh_CN.lproj/
node_modules/electron/dist/Electron.app/Contents/Resources/zh_TW.lproj/
