<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/frame.css">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div id="frame">
            <div class = 'options'>

            </div>
        </div>
        <div class="container">
            <h1 id='user-header'></h1>
            <form>
                <button id='btnCompare' type="submit" class = "btn btn-warning btn-lg">Upload and Compare</button>
            </form>
            <form action="report_mockup.html">
                <button id='btnReport' type="submit" class = "btn btn-warning btn-lg">Comparison Report</button>
            </form>
            <h3>Upload History</h3>
            <div id="reports-container">
-            <h3>Previous Reports</h3>
-            <div id="reports-list">
-
-            </div>
-        </div>
        </div>

        <script src="../js/index.js"></script>
        <script src="../js/reports.js"></script>
    </body>
</html>
