<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/frame.css">
    </head>
    <body style="background-color: lightgrey">
      <div id="frame">
          <div class = 'options'>

          </div>
      </div>
        <h1>Welcome Back</h1>
        <form action="upload_files.html" style="display: inline-block;">
            <input type="submit" value="Upload and Compare" action ="index.html"/>
        </form>
        <form action="report_mockup.html" style="display: inline-block;">
            <input type="submit" value="Comparison Report" action ="index.html"/>
        </form>
        <br><br>
        <h3>History</h3>
        <a href="">report1 name</a><br>
        <a href="">report2 name</a><br>
        <a href="">report3 name</a><br>
        <script src="../js/index.js"></script>
    </body>
</html>
