<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title></title>
      <!--<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">-->
      <link rel="stylesheet" href="../css/frame_actions.css">
      <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <div id="frame_actions">
        <header>
            <div class="option" id="close">&#x2716;</div>
            <div class="option" id="maximize">&#x1f5d6;</div>
            <div class="option" id="minimize">&#x1f5d5;</div>
        </header>
    </div>
    <div id='user_panels'>
          
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
