<!DOCTYPE html>
<html>
    <head>
        <title>Code Plagiarism Detector</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/report.css">
        <link rel="stylesheet" href="../css/frame.css">
        <link rel="stylesheet" href="../css/upload_files.css">
    </head>
    <body>
        <div id="frame">
            <div class = 'options'>

            </div>
        </div>
        <div class="report-container">
            <form action="index.html" style="display: inline-block;">
                <input id='btnHome' type="submit" value="Back to Home" action ="index.html"/>
            </form>
            <h2 style="display: inline-block; margin-left: 50px;color: #fff;">Percentage Match: X%</h2><br>
            <div id="report-container-left">

            </div>

            <div id="report-container-right">

            </div>
        </div>
        <script src="../js/reports.js"></script>
    </body>
</html>
