<!DOCTYPE html>
<html>
    <head>
        <title>Code Plagiarism Detector</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/frame_actions.css">
    </head>
    <body style="background-color: lightgrey">
        <div id="frame_actions">
            <header>
                <div class="option" id="close">&#x2716;</div>
                <div class="option" id="maximize">&#x1f5d6;</div>
                <div class="option" id="minimize">&#x1f5d5;</div>
            </header>
        </div>
        <form action="index.html" style="display: inline-block;">
            <input type="submit" value="Back to Home" action ="index.html"/>
        </form>
        <div>
        <hr>
            <div style="display: flex; flex-direction: row">
                <input type="button" value="Choose a file" id="select-file1"/>
                <p id="file-name-1" style="font-size: 15px;"> upload file </p>
                <input type="button" id="save-changes-1" value="Save changes"/>
                <input type="button" id="delete-file-1" value="Delete file"/>
            </div>
            <br>
            <div style="display: flex; align-items: center; margin-bottom: 4%">
              <!--<textarea style="border-radius: 10px; border-color: lightgrey; width: 100%; height: 300px; margin-right: 10px; margin-left: 10px" id="content-editor1" rows="5"></textarea><br><br>-->
              <div style="width: 100%;background-color: white; display: flex; flex-direction: column; color: black" id="text-content-1"></div>
            </div>
            <hr>
            <div style="display: flex; flex-direction: row;">
              <input type="button" value="Choose a file" id="select-file2"/>
              <p id="file-name-2" style="font-size: 15px;"> upload file </p>
              <input type="button" id="save-changes-2" value="Save changes"/>
              <input type="button" id="delete-file-2" value="Delete file"/>
            </div>
            <br>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 4%">
          <div style="width: 100%;background-color: white; display: flex; flex-direction: column; color: black" id="text-content-2"></div>
        </div>
        <hr>
        <form action="">
            <input type="button" value="Build Report">
        </form>
        <script src="../js/upload_files.js"></script>
    </body>
</html>
