<!DOCTYPE html>
<html>
    <head>
        <title>Code Plagiarism Detector</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/frame_actions.css">
    </head>
    <body style="background-color: lightgrey">
        <div id="frame_actions">
            <header>
                <div class="option" id="close">&#x2716;</div>
                <div class="option" id="maximize">&#x1f5d6;</div>
                <div class="option" id="minimize">&#x1f5d5;</div>
            </header>
        </div>
        <form action="index.html" style="display: inline-block;">
            <input type="submit" value="Back to Home" action ="index.html"/>
        </form>
        <div>
        <hr>
            <div>
                <input type="file" value="Choose a file" id="select-file"/>
                <input type="button" id="save-changes" value="Save changes"/>
                <input type="button" id="delete-file" value="Delete file"/>
            </div>
            <br>
            <div style="display: flex; align-items: center; margin-bottom: 4%">
              <textarea style="border-radius: 10px; border-color: lightgrey; width: 100%; height: 300px; margin-right: 10px; margin-left: 10px" id="content-editor" rows="5"></textarea><br><br>
            </div>
            <hr>
            <div>
              <input type="file" value="Choose a file" id="select-file"/>
              <input type="button" id="save-changes" value="Save changes"/>
              <input type="button" id="delete-file" value="Delete file"/>
            </div>
            <br>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 4%">
          <textarea style="border-radius: 10px; border-color: lightgrey; width: 100%; height: 300px; margin-right: 10px; margin-left: 10px" id="content-editor" rows="5"></textarea><br><br>
        </div>
        <hr>
        <form action="">
            <input type="button" value="Build Report">
        </form>
        <script src="../js/upload_files.js"></script>
    </body>
</html>
