.panel{
    height: 50px;
}
.user_image{
    height:100%;
    width:15%;
    float:left;
    background-color: #4D4948;
}

.user_image img {
    height:50px;
    width: 50px;
}

.username {
  font-family: Impact;
    background-color: #4D4948;
    height:100%;
    color: white;
    width:85%;
    float: right;
    text-align: left;
}

.username:hover{
    color: green;
    font-style:italic;
}
